<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/finder.css" />
    <title>Lernpartner finden</title>
  </head>
  <header>
    <nav class="navbar">
      <a href="">FINDER</a>
      <a href="/">Home</a>
      <a href="/finder">Lernpartner finden</a>
      <a href="/rooms">Lernräume</a>
      <button onclick="window.location.href='/profile'">Profile</button>
    </nav>
  </header>
  <body>
    <div class="setup"></div>
    <div class="container">
      <% data.forEach((person) => { %>
      <a href="/profile/<%= person.id%>" class="person-link"
        ><div class="persondiv">
          <img src="<%= person.gender === "male" ? "/assets/avatar-male.png" :
          "/assets/avatar-female.png"%>" alt="Avatar" class="avatar" />
          <p>Name: <%= person.name %></p>
          <p>Alter: <%= person.age %></p>
          <p>Interessen: <%= person.interest %></p>
        </div></a
      >
      <% }); %>
    </div>
  </body>
</html>
